package/*-spawn.exe
package/DtaverWriter.exe
package/ddraw.dll
package/ddraw.ini
package/Client/*
package/Maps/Custom/*.zip
package/Maps/Custom/*.map
package/Maps/Custom/*.png
package/version_u
package/.DS_Store
package/CnCNet5_TD_Installer.exe
package/*.idea/
package/VersionWriter-CopiedFiles/
package/VersionWriter.exe
package/version
package/CONQUER.ini
package/spawn.ini
package/spawnmap.ini
package/stats.dmp
package/InnoSetup/output
package/gitversion.json
package/logs
